/* troubleshooting outline
* {
  outline: 1px solid red;
}*/

header, footer{
  background-color: peru;
  color: gold;
  text-shadow: -1px 1px 0 saddlebrown,
                1px 1px 0  saddlebrown,
                1px -1px 0  saddlebrown,
                -1px -1px 0  saddlebrown;
  border: 5px ridge goldenrod;
}

img {
  height: 500px;
  width: 500px;
  user-select: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		filter: drop-shadow(2px 4px 20px gold);
	}

	70% {
		transform: scale(1);
		filter: drop-shadow(2px 4px 10px gold);
	}

	100% {
		transform: scale(0.95);
		filter: drop-shadow(2px 4px 5px gold);
	}
}

img:hover{
  animation: pulse 2s infinite;
}

/* standard header */
body{
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{
  flex-grow: 1;
}

.p-box {
  color: gold;
  text-shadow: -1px 1px 0 saddlebrown,
                1px 1px 0  saddlebrown,
                1px -1px 0  saddlebrown,
                -1px -1px 0  saddlebrown;
  background-color: peru;
}

.i-box{
  color: gold;
  text-shadow: -1px 1px 0 saddlebrown,
                1px 1px 0  saddlebrown,
                1px -1px 0  saddlebrown,
                -1px -1px 0  saddlebrown;
  background-color: peru;
}

.s-box{
  color: gold;
  text-shadow: -1px 1px 0 saddlebrown,
                1px 1px 0  saddlebrown,
                1px -1px 0  saddlebrown,
                -1px -1px 0  saddlebrown;
  background-color: peru;
  border: 5px ridge saddlebrown; 
}

.btn.s-btn{
  border: 5px outset goldenrod;
  background-color: sienna;
  color: gold;
  text-shadow: -1px 1px 0 slategrey,
                1px 1px 0  slategrey,
                1px -1px 0  slategrey,
                -1px -1px 0  slategrey;
}


.sideb{
  border-left: 5px ridge saddlebrown;
  border-right: 5px ridge saddlebrown;
}

.topb{
  border-left: 5px ridge saddlebrown;
  border-right: 5px ridge saddlebrown;
  border-top: 5px ridge saddlebrown;
  border-bottom: 2px groove saddlebrown;
}

.botb{
  border-left: 5px ridge saddlebrown;
  border-right: 5px ridge saddlebrown;
  border-bottom: 5px ridge saddlebrown;
}

